#submit1{
  display:flex;
  border: 1px solid;
  padding: 8px;
  background-color: blue;
  color: white;
  position: relative;
  right: 20px;
  
}

body{
  background-color: green;
}

#submit2{
  display:flex;
  border: 1px solid;
  padding: 8px;
  background-color: blue;
  color: white;
  position: relative;
  right: 20px;
  
}

.coName{
    display:flex;
    align-items: center;
}

.cuName{
  display:flex;
  align-items:center;
}

/*Column spacing*/
.column {
  float: left;
  width: 9.0%;
  text-align:center;
  margin-bottom: 16px;
  border: 1px solid;
  padding: 8px;
  background-color: cyan;
  font-family: syncopate;
  font-size: 12px;
}


.index{
  background-color: red;
}

.searchMethods{
  border: 1px solid;
  padding: 8px;
  background-color: red;
  display: flex;
  align-items: center;
}

.title{
  font-size: 36px;
	font-family: papyrus;
  text-align: center;
  border: 1px solid;
  padding: 8px;
  text-align: center;
  background-color: yellow;
  display: flex;
  align-items: center;
}

#content-block{
  font-size: 16px;
  background-color: gray;
  height: 1400px;
}

/* Style for the container that holds the matched nodes */
.match-container {
  display: flex; /* Arrange nodes in a row */
  flex-wrap: wrap; /* Allow nodes to wrap to the next row if needed */
  white-space: nowrap; /* Prevent nodes from wrapping to the next line */
  overflow-x: auto;
}

/* Style for individual nodes */
.content-block {
  display: inline-block; /* Display nodes inline */
  width: 150px; /* Adjust the width as needed */
  margin-right: 20px; /* Add some spacing between nodes */
}